
<div class="sidebar">
    <div class="sidebar-section">
      <h5><span>Support the Project</span></h5>
      <ul style="list-none">
        <li><a class="btn btn-primary btn-lg coffeebutton" style="margin-bottom:4px;white-space: normal;" href="https://buymeacoffee.com/300zxproject">
          <img class="coffeecupimage" src="{{ site.url }}/assets/images/BMC Logo - White.svg" alt="Coffee Cup">
            Buy Me A Coffee
        </a></li>
        <li><a target="_blank" href="{{ site.url }}/sponsorcontact">Sponsor Contact</a></li>
      </ul>
    </div>
</div>
