---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.about-paragraph {
  overflow: hidden;
}

.about-portrait {
	margin: 7px;
	border-radius: .25rem;
}

.dark-panel {
	background: #333;
	background: rgba(0, 0, 0, 0.45);
  padding: 4px 8px;
	border-radius: 15px;
}

.wrapintro {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.85);
}
